.news-letter {
  background: #353537;
  text-align: center;
  padding: 4rem 3rem;
}

.news-letter .content {
  text-align: start;
  color: #f1eded;
  font-size: 16px;
  font-family: "Airbnb Light";
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.news-letter .content p {
  word-spacing: 1px;
}

.news-letter .btn {
  border: 1px solid #f1eded;
  height: 50px;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  margin: 0 1rem;
}

.news-letter input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding-left: 1rem;
}

.news-letter input:focus {
  outline: none;
}

@media (max-width: 950px) {
  .news-letter .content {
    margin-bottom: 1rem;
  }
}


@media(max-width: 388px) {
  .news-letter .btn {
    margin: 0.5rem 2rem 0 auto;
  }
}